@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Ewert&family=Faster+One&family=Merienda&family=Pacifico&family=Roboto:wght@500&family=Rye&display=swap");
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.head-column h1 {
  color: #acc6aa;
}

.first-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-fit {
  width: 100%;
}
.second-container {
  background-color: #acc6aa;
}
.line {
  background-color: #acc6aa;
  padding: 3px;
  width: 300px;
  margin-right: 5.5rem;
  text-align: start;
}
.oblutak {
  color: #acc6aa;
}
.hidden {
  display: none;
}
.button-price {
  padding: 12px 15px;
  background-color: #acc6aa;
  border-radius: 7.5px;
  border: none;
  font-size: 14px;
  font-weight: bolder;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-height: 60vh;
  background-color: white;
  padding: 7rem 0;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.close-modal {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3.5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
  transition: all 0.5s ease-in-out;
}
.close-modal:hover {
  background-color: #acc6aa;
}
.button-send {
  padding: 8px 12px;
  background-color: #acc6aa;
  color: black;
  font-weight: 600;
  border: none;
}
/*.product-image {
  width: 375px;
  height: 347px;
}*/
.container-form {
  background-color: #acc6aa;
}
.form-text {
  font-size: 8px;
  font-weight: 600;
}
.contact {
  font-weight: 600;
  color: #acc6aa;
}
